**/Debug
**/Library
**/Temp
**/.vs
**/.idea
**/x64
**/Intermediate
**/intermediate
**/Builds
**/builds
**/Build
**/build
*.exe
*.pdb


// GamerEngine
GamerEngine/Bin/Shaders/*
GamerEngine/Bin/Assets/Exclude/*
!GamerEngine/Bin/Assets/Exclude/DONT.txt
!**/Layers/Debug
!**/ThirdParty/FBXSDK/lib/debug
!**/ThirdParty/FBXSDK/lib/release



